//- nav.fixed-bottom.navbar-dark.bg-dark
//-     .footer-copyright.text-center.py-1.mx-auto.text-light
//-         | © 2019 Copyright: Yang Su  

.footer-copyright.text-center.bg-dark.mx-auto.text-light.fixed-bottom
    | © 2019 Copyright: Yang Su     