extends layout

block content 
  .container.bg-light
    .row
        .col-sm-4
          h4|Welcome to my E-Portfilio. I am studying Computer Programming at Georigan College. I have learned some Node js skills to develop a website. I enjoy creating and designing interacitve websites and cool softwares.
        .col-sm-8
          div
            img(src='https://image.slidesharecdn.com/aboutme-1218106992972119-9/95/a-little-bit-about-me-1-728.jpg?cb=1218094858', alt="about")
  
      
    
  