extends layout
 
block content
  // contact form page used and modified contact form template form http://prepbootstrap.com/bootstrap-template/contact-form
  .container
    h1 Contact me 
    p Please feel free to contact me. I am willing to answer your questions
  .container 
    form.form-horizontal(method='post')
      .form-group
        span.col-md-1.col-md-offset-2.text-center
        .col-md-8
          input#fname.form-control(name='name', type='text', placeholder='First Name')
      .form-group
        span.col-md-1.col-md-offset-2.text-center
        .col-md-8
          input#lname.form-control(name='name', type='text', placeholder='Last Name')
      .form-group
        span.col-md-1.col-md-offset-2.text-center
        .col-md-8
          input#email.form-control(name='email', type='text', placeholder='Email Address')
      .form-group
        span.col-md-1.col-md-offset-2.text-center
        .col-md-8
          input#phone.form-control(name='phone', type='text', placeholder='Phone')
      .form-group
        span.col-md-1.col-md-offset-2.text-center
        .col-md-8
          textarea#message.form-control(name='message', placeholder='Enter your massage here', rows='5')
      .form-group
        .col-md-12.text-center
          button.btn.btn-primary.btn-lg(type='submit') Submit
