extends layout

block content
  .jumbotron.jumbotron-fluid.bg(style="height:350px;")
  .container
    h1.display-4 Yang Su
    p.lead
      | This is a my E-portfolio which contains projects, services, contact pages. It was developed by ExpressJS and Node.js.
