extends layout

block content
  .container-fluid.text-center
    h2 MY SERVICES
    h4 What I can do
    br
  .container
    .row
      .col-sm-4
        h4 Javascript
        p Using Node.js to create a website
      .col-sm-4
        h4 Database
        p Manage and operate database using Mysql and Mongodb
      .col-sm-4
        h4 Deployment website 
        p Help clients to deploy their website and provide website maintanence 
    br
    br
    .row
      .col-sm-4
        h4 Java Programming
        p create an application using MVC patten
      .col-sm-4
        h4 ASP.NET
        p Create a web application using ASP.NET technicals
      .col-sm-4
        h4 Linux operation
        p Be proficient in operating Linux system using commands
