/*Author name: Yang Su additonal style.css file for the views*/
body, html {
  height: 100%;
  margin:0 px;
}


/*background*/
.bg{
  /* The image used */
  background-image: url("../images/bgindex.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*set card image size*/
.card-img-top {
  height: 200px; 
}
.about{
  margin-top: 20px;
}
